body {
	font-family: 'Actor', sans-serif;
}

h1 {
	font-family: 'Merriweather', serif;
}

#todays_verses {
	font-size: 24px;
	margin: 30px 0 40px 50px;
}

#today {
	background-color: #ccc;
	font-weight: bold;
}

.ui-datepicker {
	font-size: 70% !important;
}